@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <h3>Lovecraft</h3>
        <nav>
            <a href="/">Home</a>
        </nav>
    </div>
    <main>
        @Body
    </main>
</div>

@code {
}
